*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-block-size: 100%;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  min-block-size: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

button,
a {
  color: currentColor;
  font: inherit;
}

button {
  border: 0;
}
