.page {
    min-block-size: 100vh;
    overflow-x: clip;
    background-color: var(--background-color, #000028);
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--main-text-color, #f1b2ce);
    font-family: var(--font-family, monospace);
    font-size: 18px;
    line-height: 1.3;
}

.decorated-zone {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    min-block-size: 668px;
    block-size: 100vh;
    padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    content: "";
}

.decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
    border-block-start: 1px solid var(--decorated-zone-color);
    border-inline-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
    border-block-end: 1px solid var(--decorated-zone-color);
    border-inline-start: 1px solid var(--decorated-zone-color);
}

.header__rec {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 38px;
    display: var(--rec-display);
    color: var(--accent-color);
    font-size: 18px;
    line-height: 25px;
}

.header__rec::after {
    position: absolute;
    inset-block-start: 8px;
    inset-inline-start: calc(100% + 10px);
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    content: "";
}

.header__theme-menu {
    grid-row: 1;
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    min-block-size: 26px;
    padding: 0 13px;
    border-block-end: 1px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -1px;
    background-color: transparent;
    color: var(--menu-button-color);
    cursor: pointer;
    line-height: 18px;
    text-transform: lowercase;
}

.header__theme-menu-button:hover {
    border-block-end-color: var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    outline: 1px solid var(--menu-button-color);
    outline-offset: -1px;
}

.header__theme-menu-button_active,
.header__theme-menu-button:disabled {
    outline: 1px solid var(--menu-button-color);
    outline-offset: -1px;
    pointer-events: none;
}

.header__title,
.footer__title {
    color: var(--title-color);
    font-weight: 700;
    line-height: 0.825;
}

.header__title {
    grid-row: 2;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
    grid-row: 3;
    align-self: center;
    color: var(--title-decor-color);
    font-weight: 700;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--title-decor-color);
}

.main {
    padding-block-start: 40px;
}

.content-section {
    display: grid;
    gap: 20px;
    padding-inline: 10px;
    margin-block-end: 50px;
}

.content-section__title {
    color: var(--section-title-color);
    font-weight: 700;
}

.content-section__articles,
.advice-list {
    display: grid;
    gap: 20px;
}

.content-section__articles {
    align-items: start;
}

.content-section__article,
.advice {
    display: grid;
    gap: 10px;
}

.content-section__article-title,
.content-section__lead {
    font-weight: 700;
}

.advice__title {
    font-weight: 400;
}

.text-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
    border-block-end: 1px solid currentColor;
}

.text-link:focus {
    outline: none;
}

.text-link:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 1px;
}

.gallery {
    display: grid;
    gap: 10px;
    padding-inline: 10px;
    margin-block-end: 40px;
}

.gallery__title {
    font-weight: 700;
}

.gallery__image {
    inline-size: 100%;
    object-fit: cover;
}

.footer {
    place-items: center;
}

.footer__title {
    grid-row: 2;
    justify-self: center;
    align-self: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
    .decorated-zone {
        padding: 20px;
    }

    .decorated-zone::before {
        inset-block-start: 20px;
        inset-inline-end: 20px;
    }

    .decorated-zone::after {
        inset-block-end: 20px;
        inset-inline-start: 20px;
    }

    .header__rec {
        inset-block-start: 20px;
        inset-inline-end: 48px;
    }

    .header__title {
        margin-inline-start: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
        justify-self: end;
        inline-size: 50%;
    }

    .main {
        padding-block-start: 60px;
    }

    .content-section {
        grid-template-columns: 1fr 2fr;
        padding-inline: 20px;
        margin-block-end: 80px;
    }

    .content-section__articles {
        grid-column: 2 / -1;
    }

    .gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
        padding-inline: 20px;
        margin-block-end: 60px;
    }

    .gallery__title {
        grid-column: 1 / -1;
    }

    .gallery__image {
        block-size: 100%;
    }

    .gallery__image_sunset {
        grid-column: span 2;
    }

    .gallery__image_ice-cream,
    .gallery__image_tape {
        grid-row: span 2;
    }

    .gallery__image_street {
        grid-column: span 2;
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        align-self: start;
        justify-self: center;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .content-section {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .content-section__articles {
        grid-column: 2 / -1;
    }

    .content-section_type_factors .content-section__title {
        grid-column: 1 / 2;
    }

    .content-section_type_factors .content-section__articles {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}